<h2> Welcome to Star wars Information Page </h2>
<form action="/results" method="GET">
    <input type="text" placeholder="Please type what you want to search" name="keyword" style="font-size: 13pt" size=30>
    <input type="Submit" style="font-size: 13pt" value="Search">
</form>
